.card-clima {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    padding: 25px;
}
.temp {
    font-size: 2rem;
    font-weight: bold;
}
.pronostico-card i {
    font-size: 2.5rem;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    background: #f8f9fa;
    transition: transform 0.2s, box-shadow 0.2s;
}
.pronostico-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
@media (max-width:576px) {
    .card-clima {
    text-align: center;
  }
 }
 .bi-sun {
    color: orange;
 }
 .bi-cloud-rain {
    color: #0d6efd;
 }
 .bi-cloud {
    color: gray;
 }
 .bi-cloud-sun {
    color: goldenrod;
 }
 .bi-wind {
    color: teal;
 }
 html, body {
    height: 100%;
 }
 body {
    display: flex;
    flex-direction: column;
 }
 main {
    margin-bottom:40px 0;
    flex: 1;
    padding-top: 60px 0;
 }